[Desktop Entry]
Name=Headlamp
Comment=Kubernetes graphical user interface
Exec=/usr/local/bin/headlamp %U
Terminal=false
Type=Application
Icon=applications-system
Categories=Development;System;
